In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import numpy as np
import pandas_datareader as web

In [2]:
df = pd.read_csv("C:\\Users\\DELL\\Desktop\\Fynn Lab\\NFLX.csv")
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-02-05,262.000000,267.899994,250.029999,254.259995,254.259995,11896100
1,2018-02-06,247.699997,266.700012,245.000000,265.720001,265.720001,12595800
2,2018-02-07,266.579987,272.450012,264.329987,264.559998,264.559998,8981500
3,2018-02-08,267.079987,267.619995,250.000000,250.100006,250.100006,9306700
4,2018-02-09,253.850006,255.800003,236.110001,249.470001,249.470001,16906900
...,...,...,...,...,...,...,...
1004,2022-01-31,401.970001,427.700012,398.200012,427.140015,427.140015,20047500
1005,2022-02-01,432.959991,458.480011,425.540009,457.130005,457.130005,22542300
1006,2022-02-02,448.250000,451.980011,426.480011,429.480011,429.480011,14346000
1007,2022-02-03,421.440002,429.260010,404.279999,405.600006,405.600006,9905200
1008,2022-02-04,407.309998,412.769989,396.640015,410.170013,410.170013,7782400

In [3]:
df.reset_index(inplace=True)
df.describe()

,index,Open,High,Low,Close,Adj Close,Volume
count,1009.000000,1009.000000,1009.000000,1009.000000,1009.000000,1009.000000,1.009000e+03
mean,504.000000,419.059673,425.320703,412.374044,419.000733,419.000733,7.570685e+06
std,291.417513,108.537532,109.262960,107.555867,108.289999,108.289999,5.465535e+06
min,0.000000,233.919998,250.649994,231.229996,233.880005,233.880005,1.144000e+06
25%,252.000000,331.489990,336.299988,326.000000,331.619995,331.619995,4.091900e+06
50%,504.000000,377.769989,383.010010,370.880005,378.670013,378.670013,5.934500e+06
75%,756.000000,509.130005,515.630005,502.529999,509.079987,509.079987,9.322400e+06
max,1008.000000,692.349976,700.989990,686.090027,691.690002,691.690002,5.890430e+07

In [4]:
x = df[["Open", "High", "Low", "Volume"]]
y = df["Close"]
x = x.to_numpy()
y = y.to_numpy()
y = y.reshape(-1, 1)

from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x, y, 
                                                test_size=0.2, random_state = 42)

In [5]:
from keras.models import Sequential
from keras.layers import Dense, LSTM
model = Sequential()
model.add(LSTM(128, return_sequences=True, input_shape= (xtrain.shape[1], 1)))
model.add(LSTM(64, return_sequences=False))
model.add(Dense(25))
model.add(Dense(1))
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm (LSTM)                 (None, 4, 128)            66560

 lstm_1 (LSTM)               (None, 64)                49408

 dense (Dense)               (None, 25)                1625

 dense_1 (Dense)             (None, 1)                 26

=================================================================
Total params: 117,619
Trainable params: 117,619
Non-trainable params: 0
_________________________________________________________________

In [6]:
model.compile(optimizer='adam', loss='mean_squared_error')
model.fit(xtrain, ytrain, batch_size=1, epochs=30)

Epoch 1/30
807/807 [==============================] - 10s 5ms/step - loss: 45370.3008
Epoch 2/30
807/807 [==============================] - 4s 6ms/step - loss: 7473.5361
Epoch 3/30
807/807 [==============================] - 5s 6ms/step - loss: 698.4494
Epoch 4/30
807/807 [==============================] - 5s 6ms/step - loss: 336.8045
Epoch 5/30
807/807 [==============================] - 5s 6ms/step - loss: 454.6263
Epoch 6/30
807/807 [==============================] - 5s 6ms/step - loss: 634.0462
Epoch 7/30
807/807 [==============================] - 4s 5ms/step - loss: 274.3377
Epoch 8/30
807/807 [==============================] - 5s 6ms/step - loss: 212.0283
Epoch 9/30
807/807 [==============================] - 4s 5ms/step - loss: 215.9091
Epoch 10/30
807/807 [==============================] - 5s 6ms/step - loss: 226.8721
Epoch 11/30
807/807 [==============================] - 4s 5ms/step - loss: 408.4957
Epoch 12/30
807/807 [==============================] - 5s 6ms/step - loss: 232.8177
Epoch 13/30
807/807 [==============================] - 4s 6ms/step - loss: 124.6133
Epoch 14/30
807/807 [==============================] - 5s 6ms/step - loss: 129.5268
Epoch 15/30
807/807 [==============================] - 4s 5ms/step - loss: 275.5734
Epoch 16/30
807/807 [==============================] - 5s 6ms/step - loss: 202.9042
Epoch 17/30
807/807 [==============================] - 4s 6ms/step - loss: 300.4193
Epoch 18/30
807/807 [==============================] - 4s 6ms/step - loss: 140.3576
Epoch 19/30
807/807 [==============================] - 4s 5ms/step - loss: 174.1471
Epoch 20/30
807/807 [==============================] - 5s 6ms/step - loss: 250.1478
Epoch 21/30
807/807 [==============================] - 5s 6ms/step - loss: 143.6084
Epoch 22/30
807/807 [==============================] - 4s 5ms/step - loss: 170.9102
Epoch 23/30
807/807 [==============================] - 5s 6ms/step - loss: 270.9250
Epoch 24/30
807/807 [==============================] - 5s 6ms/step - loss: 147.3920
Epoch 25/30
807/807 [==============================] - 5s 6ms/step - loss: 138.6985
Epoch 26/30
807/807 [==============================] - 5s 6ms/step - loss: 116.0618
Epoch 27/30
807/807 [==============================] - 5s 6ms/step - loss: 173.9018
Epoch 28/30
807/807 [==============================] - 5s 6ms/step - loss: 111.1536
Epoch 29/30
807/807 [==============================] - 5s 6ms/step - loss: 167.0329
Epoch 30/30
807/807 [==============================] - 5s 6ms/step - loss: 141.1507

In [7]:
import numpy as np
#features = [Open, High, Low, Adj Close, Volume]
features = np.array([[401.970001, 427.700012, 398.200012, 20047500]])
model.predict(features)

1/1 [==============================] - 1s 1s/step

array([[407.4638]], dtype=float32)